.header-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  background: #ffffff;
}

.topChrome-primary {
  background-color: darkblue;
  height: 60px;
  width: 100%;
  opacity: 1;
  padding: 12px 20px;
  position: relative;
  right: 0px;
  left: 0px;
  z-index: 1030;
  display: block;
  box-sizing: border-box;
}

.topChrome-secondary {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #eeeeee;
}

.navbar-brand {
  color: #f2f2f2;
  position: absolute;
  margin-left: 10%;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin-right: 10%;
  top: 0;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 21px;
  height: 60px;
}

.pull-right {
  float: right;
}

.profile-menu {
  min-width: 120px;
  width: 120px;
  margin-left: -85px;
}

.load-button {
  position: relative;
  opacity: 0.7;
  bottom: 50;
  left: 50%;
  transform: translate(0, -50%);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
