.post-list-item {
  width: 100%;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;

  font-size: 12px;
  position: relative;
}

.upper-half-post {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.posted-date {
  position: absolute;
  right: 0;
}
